{% set show_navbar = True %}
{% set show_footer = True %}
{% extends 'main/base.html'%}
{% block content %}

<br>
<div class="container my-4">
  <form action="{{ url_for('blog.add_post')}}" method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label(class="form-label mb-0") }}<span style="color: red;">*</span>
    {{ form.title(class="form-control",placeholder="Title") }}
    <div class="text-danger mb-0" style="font-size: 10px;">
      {% for error in form.title.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    <br>
    {{ form.image_url.label(class="form-label mb-0") }}
    {{ form.image_url(class="form-control",placeholder="Image URL") }}
    <div class="text-danger mb-0" style="font-size: 10px;">
      {% for error in form.image_url.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    <br>
    {{ form.content.label(class="form-label mb-0") }}<span style="color: red;">*</span>
    {{ form.content(class="form-control", rows = "5", placeholder="Write something...") }}
    <div class="text-danger mb-0" style="font-size: 10px;">
      {% for error in form.content.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    <br>
    <p class="text-end">
      {{ form.submit(class="btn btn-primary",value="Post Blog") }}</p>

  </form>
  {{ckeditor.load()}}
  {{ckeditor.config(name='content')}}
</div>


<script>
  // Initialize and show the toasts with smooth animation and auto-dismiss after 5 seconds
  var toastElList = [].slice.call(document.querySelectorAll('.toast'));
  var toastList = toastElList.map(function (toastEl) {
    var toast = new bootstrap.Toast(toastEl, { autohide: true, delay: 5000 });
    toast.show();  // Show the toast with fade-in effect
    return toast;
  });
</script>
{% endblock %}