{% set show_navbar = True %}
{% set show_footer = True %}
{% extends 'main/base.html'%}
{% block content %}

<div class="container my-4 ">
  <a href="{{ url_for('blog.posts') }}" style="text-decoration: none; color: #b7b7b7;">
    <i class="fa-solid fa-arrow-left" style="font-size: 14px;" ></i> Back
</a><br><br>
  <form method="POST">
    {{ form.hidden_tag() }}
  
    {{ form.title.label(class="form-label mb-0") }}<span style="color: red;">*</span>
    {{ form.title(class="form-control") }}
    <div class="text-danger mb-0" style="font-size: 10px;">
      {% for error in form.title.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    <br>
    {{ form.image_url.label(class="form-label mb-0") }}
    {{ form.image_url(class="form-control",placeholder="Image URL") }}
    <div class="text-danger mb-0" style="font-size: 10px;">
      {% for error in form.image_url.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    <br>
    {{ form.content.label(class="form-label mb-0") }}<span style="color: red;">*</span>
    {{ form.content(class="form-control", rows = "5") }}
    <div class="text-danger mb-0" style="font-size: 10px;">
      {% for error in form.content.errors %}
      <p>{{ error }}</p>
      {% endfor %}
    </div>
    <br>
    <p class="text-end">
    {{ form.submit(class="btn btn-primary",value="Post Blog") }}</p>
  
  </form>
  {{ckeditor.load()}}
  {{ckeditor.config(name='content')}}
  </div>
  
{% endblock %}