<div class="toast-container position-fixed top-0 end-0 p-3">
    {% for message in get_flashed_messages(with_categories=true) %}
    <div class="toast align-items-center text-white {{ 'bg-success' if message[0] == 'success' else '' }}
                 {{ 'bg-danger' if message[0] == 'error' else '' }}
                 {{ 'bg-warning' if message[0] == 'warning' else '' }}
                 {{ 'custom-info' if message[0] == 'info' else '' }}
                 border-0 fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
        data-bs-delay="5000">
        <div class="d-flex">
            <div class="toast-body">
                {{ message[1] }}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>